<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск заказа</title>
    <style type="text/css">
      h2 { font-size  : 14pt;
           color      : black
      }
      label { font-size  : 14pt;
              color      : green
      }
    </style>
</head>
<body>
  <h2 align="center"> Введите номер заказа</h2>
    <div align = center>
        <form action="", method ="POST">
            <label for="order">Введите номер заказа</label>
            <input name = order_id id="order" type = text placeholder = order_id>
            <br><br>
            <input type = submit value ="Отправить">
        </form>
    </div>

</body>
</html>